# PostgreSQL connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/board"

# Authentication (Better Auth)
BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_URL="http://localhost:3000"

# GitHub OAuth
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

# Public API URL
NEXT_PUBLIC_API_URL="http://localhost:3000"